.container{
    display: grid;
    grid-template-areas: "nav" 
                          "card border article"
                           "footer";

    border: 2px solid orange

}
.iteam-1{
    border: 1px solid #ff0000;
    grid-area: nav;
}
.iteam-2{
    grid-area: card;
}